/*
!/apache
/apache/*
!/apache/conf
/apache/conf/*
!/apache/conf/httpd.conf
!/apache/conf/extra

!/mysql
/mysql/*
!/mysql/bin
/mysql/bin/*
!/mysql/bin/my.ini

!/php
/php/*
!/php/php.ini

!.gitignore

!/phpMyAdmin
/phpMyAdmin/*
!/phpMyAdmin/config.inc.php
